<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <resource-ref>
        <res-ref-name>mysql/hotel</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>LoginConfirmServlet</servlet-name>
        <servlet-class>controller.LoginConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginConfirmServlet</servlet-name>
        <url-pattern>/loginForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterAdministorServlet</servlet-name>
        <servlet-class>controller.RegisterAdministorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAdministorServlet</servlet-name>
        <url-pattern>/registerAdministorForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SecondLoginServlet</servlet-name>
        <servlet-class>controller.SecondLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondLoginServlet</servlet-name>
        <url-pattern>/secondLoginForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNewStaffServlet</servlet-name>
        <servlet-class>controller.managerPerform.AddNewStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewStaffServlet</servlet-name>
        <url-pattern>/addNewStaffForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchAllRoomsServlet</servlet-name>
        <servlet-class>controller.managerPerform.SearchAllRoomsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAllRoomsServlet</servlet-name>
        <url-pattern>/searchAllRoomsForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchUsefulRoomsByTimeServlet</servlet-name>
        <servlet-class>controller.administorPerform.SearchUsefulRoomsByTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUsefulRoomsByTimeServlet</servlet-name>
        <url-pattern>/findUsefulRoomsByTimeForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderRoomsServlet</servlet-name>
        <servlet-class>controller.administorPerform.OrderRoomsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderRoomsServlet</servlet-name>
        <url-pattern>/orderRoomForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchProportyRoomsServlet</servlet-name>
        <servlet-class>controller.staffPerform.SearchProportyRoomsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProportyRoomsServlet</servlet-name>
        <url-pattern>/searchProportyRoomsForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllocateRoomServlet</servlet-name>
        <servlet-class>controller.staffPerform.AllocateRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllocateRoomServlet</servlet-name>
        <url-pattern>/allocateRoomForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindIndentByIdServlet</servlet-name>
        <servlet-class>controller.staffPerform.FindIndentByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindIndentByIdServlet</servlet-name>
        <url-pattern>/findIndentByIdentificationForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.staffPerform.CheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkOutForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteAdministorServlet</servlet-name>
        <servlet-class>controller.managerPerform.DeleteAdministorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAdministorServlet</servlet-name>
        <url-pattern>/deleteAdministorForm</url-pattern>
    </servlet-mapping>



    <filter>
        <filter-name>ManagerLimitFilter</filter-name>
        <filter-class>controller.managerPerform.ManagerLimitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerLimitFilter</filter-name>
        <url-pattern>/addNewStarff.jsp</url-pattern>
        <url-pattern>/searchAllRooms.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>StaffLimitFilter</filter-name>
        <filter-class>controller.staffPerform.StaffLimitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaffLimitFilter</filter-name>
        <url-pattern>/findIndentByIdentification.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ShowRoomsFilter</filter-name>
        <filter-class>controller.ShowRoomsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShowRoomsFilter</filter-name>
        <url-pattern>/showRooms.jsp</url-pattern>
        <url-pattern>/searchAllRooms.jsp</url-pattern>
        <url-pattern>/findUsefulRoomsByTime.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdministorLimitFilter</filter-name>
        <filter-class>controller.administorPerform.AdministorLimitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdministorLimitFilter</filter-name>
        <url-pattern>/orderRoom.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>identListFilter</filter-name>
        <filter-class>controller.administorPerform.identListFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>identListFilter</filter-name>
        <url-pattern>/indentList.jsp</url-pattern>
    </filter-mapping>



    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


</web-app>